// Place all the styles related to the questions controller here.
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  padding: 40px;;
}

#answer {
    background-color:#ffffe1;
    padding: 10px;
}

#question {
    padding: 10px;
}


// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
